doctype html
html(lang='en')
    head
        meta(content='text/html; charset=UTF-8', http-equiv='content-type')
        meta(name='viewport', content='width=device-width', initial-scale='1')


        title Global Twitch Emotes - Settings

        link(rel='shortcut icon', href='/assets/images/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', type='text/css', href='/options/css/style.css')
        script(src='/options/js/options.js')
    body
        #header.bodySection
            img#banner(src='/assets/images/banner.png', alt='Global Twitch Emotes')
            a#coffee-link(target='_blank' href='https://www.buymeacoffee.com/YymbzOe')
                img(src='/assets/images/coffee.png' alt='Buy me a coffee')

        #navbar.bodySection
            input.navButton(type='button', id='generalNavButton', class='button', alt='General', value='General')
            input.navButton(type='button', id='emotesAndChannelsNavButton', class='button', alt='Emotes & Channels', value='Emotes & Channels')
            input.navButton(type='button', id='filterNavButton', class='button', alt='Filters', value='Filters')
            input.navButton(type='button', id='aboutNavButton', class='button', alt='About', value='About')
        #content.bodySection
            include pug/generalPanel
            include pug/emotesAndChannelsPanel
            include pug/filterPanel
            include pug/aboutPanel
        #footer.bodySection
            .copyright Copyright © Mo Alawi 2020
            .socialLinks
                a(href='https://github.com/melalawi', target='_blank')
                    img(src='/assets/images/github.png')
                a(href='https://instagram.com/africanostrich', target='_blank')
                    img(src='/assets/images/instagram.png')