.contactContainer
    width 50%
    margin-left auto
    margin-right auto
    padding 2.0em 0

    display flex
    flex-direction row
    justify-content space-between

.contactContainer a
    font-size 2.5em
    font-style italic
    text-decoration none
    opacity 0.8

.contactContainer a:hover
    opacity 1