$tableGradient = linear-gradient(to bottom, #e7e7e7 0%, $backgroundColor 100%)

table
    width 100%
    padding 3.0em 0
    border-collapse collapse

    text-align left
    font-size 1.25em

    background $tableGradient

th
    font-size 1.25em

.fileBrowser
    opacity 0
    position absolute
    left -1000px
    top -1000px

.controlCell
    width 1%
    white-space nowrap

.controlCell input[type=button]
    width 2.5em
    height 2.5em

    background-color $backgroundColor
    background-size 50%
    background-position center center
    background-repeat no-repeat

    cursor pointer
    border 1px solid $navbarBackgroundColor
    border-radius 2px

.controlCell input[type=button].deleteRowButton
    background-image url('/options/images/trash.png')

.controlCell input[type=button].addRowButton
    background-image url('/options/images/plus.png')

table#customEmotesList td.url
    display flex
    flex-direction row
    align-items center

table#customEmotesList td.url:first-child
    padding-left 1.0em
table#customEmotesList td.url:last-child
    padding-right 1.0em

.browseButton
    padding 0 0.25em
    margin-left 0.25em
    background-color $backgroundColor

    cursor pointer
    border 1px solid $navbarBackgroundColor
    border-radius 2px

.GTEEmote
    max-height 32px
    max-width 32px

    border 1px solid #dedede

table select
    height 100%

table input[type=text]:disabled
    color rgba(0, 0, 0, 0)

table input[type=text]:disabled::-webkit-input-placeholder
    color rgba(0, 0, 0, 0)

table input[type=text]:disabled::-moz-placeholder
    color rgba(0, 0, 0, 0)

table input[type=text]
    width 100%
    height 100%
    padding-left 0.25em

    font-size: 1.10em
    color $navbarButtonActiveColor
    border 1px solid $navbarBackgroundColor

table input[type=text]::-webkit-input-placeholder
    font-style italic
    color $navbarBackgroundColor

table input[type=text]::-moz-placeholder
    font-style italic
    color $navbarBackgroundColor
