table
    width 100%

    text-align left
    font-size 1.25em

th
    font-size 1.25em

table input[type=text]
    width 100%
    padding 0.5em

    font-size: 1.25em
    border 1px solid $navbarBackgroundColor

table input[type=text]::-webkit-input-placeholder, table input[type=text]::-moz-placeholder
    font-style italic
    color $navbarBackgroundColor
