$backgroundColor = #f5f5f5
$headerColor = #363636

$navbarBackgroundColor = #bda9c5
$navbarShadowColor = rgba(99, 87, 109, 0.5)
$navbarButtonTextColor = #ffffff
$navbarButtonActiveColor = #7050a0
$navbarButtonOutlineColor = #433265
$disabledButtonColor = #cecece

$footerShadowColor = rgba(0, 0, 0, 0.5)

$bodyPaddingSmallestScreen = 0% 2.5%
$bodyPaddingSmallScreen = 0% 3%
$bodyPaddingMediumScreen = 0% 5%
$bodyPaddingLargeScreen = 0% 10%
$bodyPaddingLargestScreen = 0% 15%

$errorColor = #c21111