@require '/properties.styl'
@require '/generics.styl'
@require '/general.styl'
@require '/about.styl'
@require '/table.styl'
@require '/tooltips.styl'

.panel
    display none

.optionsBody
    margin 2.0em 0

#hostsbar
    width 75%
    margin-left auto
    margin-right auto
    margin-bottom 2.0em

    display flex
    flex-direction row

    background-color $navbarBackgroundColor

#hostsbar .hostButton
    padding 0.15em 0
    width 25%
    min-width 96px

    font-size 1.25em
    color $navbarButtonTextColor
    background-color rgba(0, 0, 0, 0)

    border none
    outline 0
    border-radius 0
    cursor pointer

    transition 0.15s all

#hostsbar .hostButton:hover, #hostsbar .hostButton.active, #hostsbar .hostButton:focus
    background-color $navbarButtonActiveColor

.subpanel
    display none

input[type=button].saveSettingsButton
    margin-top 2.0em
    padding 0.5em 1.0em

    font-size 1.75em
    color $backgroundColor
    background $navbarBackgroundColor

    outline none
    border none
    border-bottom 3px solid $navbarButtonActiveColor
    border-radius 4px
    cursor pointer

    transition: 0.25s all

input[type=button].saveSettingsButton:disabled
    background-color $disabledButtonColor
    background-image url('/assets/images/spinner.gif')
    background-size contain
    background-repeat no-repeat
    background-position center center

    color rgba(0,0,0,0)
    border-color #a2a2a2

    cursor default

input[type=button].saveSettingsButton:enabled:hover, input[type=button].saveSettingsButton:enabled:focus
    padding-left 1.5em
    padding-right 1.5em

    border-color #000000
    background $navbarButtonActiveColor

#header
    display flex
    flex-direction column
    align-items center

    background-color $headerColor

#banner
    margin 2em 0

#navbar
    background-color $navbarBackgroundColor

#navbar .navButton
    padding 0.25em 0
    width 25%
    min-width 96px

    font-size 1.75em
    color $navbarButtonTextColor
    background-color rgba(0, 0, 0, 0)

    border none
    border-radius 0
    outline $navbarButtonOutlineColor
    cursor pointer

    transition 0.15s all

#navbar .navButton:hover, #navbar .navButton.active, #navbar .navButton:focus
    background-color $navbarButtonActiveColor

#content
    padding-top 1.5em
    padding-bottom 1.5em

    display flex
    flex-direction column
    flex-grow 1

#footer
    padding-top 1.5em

    display flex
    flex-direction column
    align-items center

    color $backgroundColor

    box-shadow 0 -3px 15px 0 $footerShadowColor
    background-color $headerColor

.socialLinks img
    height 2.5em
    width 2.5em
    margin 1.0em 0.75em

    opacity 0.75

.socialLinks img:hover, .socialLinks a:focus img
    opacity 1.0

/****** SMALLEST ******/
@media only screen and (min-width: 0px) and (max-width: 320px)
    .bodySection
        padding $bodyPaddingSmallestScreen

/****** SMALL ******/
@media only screen and (min-width: 320px) and (max-width: 480px)
    .bodySection
        padding $bodyPaddingSmallScreen


/****** MEDIUM ******/
@media only screen and (min-width: 480px) and (max-width: 768px)
    .bodySection
        padding $bodyPaddingMediumScreen


/****** LARGE ******/
@media only screen and (min-width: 768px) and (max-width: 992px)
    .bodySection
        padding $bodyPaddingLargeScreen


/****** LARGEST ******/
@media only screen and (min-width: 992px)
    .bodySection
        padding $bodyPaddingLargestScreen