.tooltipTrigger
    margin-top 0.5em
    margin-left 0.15em
    display inline

    cursor pointer

    font-size 12px
    text-decoration underline

.tooltip
    padding 0.4em
    margin 0
    position absolute
    display block

    z-index 9999999

    border-radius 2px
    border 1px solid $headerColor
    background $navbarBackgroundColor

.tooltipInner
    position relative
    display block

    cursor default

    font-weight normal
    color $backgroundColor

.tooltipHTML
    display none

.imageContainer
    display flex
    flex-direction row
    justify-content center
    align-items center