.subpanel#bttvSubpanel
    h2 BetterTTV Emotes

    label.line
        input(type='checkbox' id='bttvGlobalCheckbox')
        | Enable Global BetterTTV Emotes
    label.line
        input(type='checkbox' id='bttvChannelsCheckbox')
        | Enable BetterTTV Channel Emotes

    table#bttvChannelsList