.subpanel#bttvSubpanel
    h2 BetterTTV Emotes
    p.line
        input(type='checkbox' id='bttvGlobalCheckbox')
        | Enable Global BetterTTV Emotes
    p.line
        input(type='checkbox' id='bttvChannelsCheckbox')
        | Enable BetterTTV Channel Emotes
    table#bttvChannelList