.subpanel#customEmotesSubpanel
    h2 Custom Emotes

    p.line
        input(type='checkbox' id='customEmotesCheckbox')
        | Enable Custom Emotes

    input.fileBrowser#emoteBrowser(type='file', accept='image/*')
    table#customEmotesList