.subpanel#ffzSubpanel
    h2 FrankerFaceZ Emotes

    p.line
        input(type='checkbox' id='ffzGlobalCheckbox')
        | Enable Global FrankerFaceZ Emotes
    p.line
        input(type='checkbox' id='ffzChannelsCheckbox')
        | Enable FrankerFaceZ Channel Emotes

    table#ffzChannelList