.subpanel#ffzSubpanel
    h2 FrankerFaceZ Emotes

    label.line
        input(type='checkbox' id='ffzGlobalCheckbox')
        | Enable Global FrankerFaceZ Emotes
    label.line
        input(type='checkbox' id='ffzChannelsCheckbox')
        | Enable FrankerFaceZ Channel Emotes

    table#ffzChannelsList