.panel#filterPanel
    h1 Filter Settings
    .optionsBody
        h2 Emotes

        p.line
            | Filter Mode:
        p.line.tabbed
            input(type='radio', value='Blacklist', name='emoteFilterMode')
            | Blacklist
            input(type='radio', value='Whitelist', name='emoteFilterMode')
            | Whitelist

        table#emoteFilterList

        hr

        h2 Websites

        p.line
            | Filter Mode:
        p.line.tabbed
            input(type='radio', value='Blacklist', name='domainFilterMode')
            | Blacklist
            input(type='radio', value='Whitelist', name='domainFilterMode')
            | Whitelist

        table#domainFilterList

    input.saveSettingsButton(type='button', value='Save Settings')