.panel#generalPanel
    h1 General Settings

    .optionsBody
        p.line
            input(type='checkbox' id='twitchStyleTooltipsCheckbox')
            | Twitch-style Emote Tooltips
        p.line
            input(type='checkbox' id='hitboxKappasCheckbox')
            | Replace Hitbox.tv's Kappa with GreyFace
            img.kappa(src='images/kappa.png')

    h2 Import/Export Settings
    p.line.blurb
        | Import and or export settings!
    input.fileBrowser#importBrowser(type='file', accept='text/*')

    #importContainer
        input#importButton(type='button', value='Import Settings From File')
        div#importStatus
            div.statusIcon
            div.statusText

    input.saveSettingsButton(type='button', value='Save Settings')