.panel#generalPanel
    h1 General Settings

    .optionsBody
        p.line
            input(type='checkbox' id='twitchStyleTooltipsCheckbox')
            | Twitch-style Emote Tooltips
        p.line
            input(type='checkbox' id='hitboxKappasCheckbox')
            | Replace Hitbox.tv's Kappa with GreyFace
            img.kappa(src='images/kappa.png')

    h2 Import/Export Settings
    input.fileBrowser#importBrowser(type='file', accept='text/*')

    .importExportContainer
        #importIcon
        input#importButton(type='button', value='Import Settings', alt='Import Settings from File', title='Import Settings from File')
        #importStatus
            div.statusIcon
            div.statusText

    hr

    .importExportContainer
        #exportIcon
        input#exportButton(type='button', value='Export Settings', alt='Export Settings to File', title='Export Settings to File')

    input.saveSettingsButton(type='button', value='Save Settings')