.subpanel#twitchSubpanel
    h2 Twitch.tv Emotes
    p.line
        input(type='checkbox' id='twitchGlobalCheckbox')
        | Enable Global Twitch.tv Emotes
    p.line
        input(type='checkbox' id='twitchChannelsCheckbox')
        | Enable Subscriber Channel Emotes
    p.line
        input(type='checkbox' id='twitchSmiliesCheckbox')
        | Enable Smilies (do soon)