@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
html, 
body {
	padding:0;
	margin:0;
	display:block;
	font-family: 'Open Sans', sans-serif;
	background:#643da0;
	
	font-size:1em;
	
	width:100%;
	height:100%;
}

input[type=checkbox] {
	display:inline-block;
	height: 1.25em;
	width: 1.25em;
}

input[type=radio] {
	display:inline-block;
	height: 1.25em;
	width: 1.25em;
}

input[type="button"] {

	outline:none;
	border:none;
	background:#D4D4D4;
	padding:10px 20px;
	font-size:1.25em;
	color:#fff;
	border-bottom: 3px solid #ADADAD;
	border-radius:4px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	
	transition:0.25s all;
	-webkit-transition:0.25s all;
	-moz-transition:0.25s all;
	-o-transition:0.25s all;
	-ms-transition:0.25s all;
}

input[type="button"]:hover {
	padding:10px 24px;
	
	border-color: #643da0;
	background: #B68FF2;
	
	transition:0.25s all;
	-webkit-transition:0.25s all;
	-moz-transition:0.25s all;
	-o-transition:0.25s all;
	-ms-transition:0.25s all;
	
	cursor:pointer;
}

.content {
	overflow: hidden;
	margin: 0;
	padding: 0;
	display:table;
	table-layout: fixed;
	
	width:100%;
	height:100%;
}

.wrapper {
	vertical-align: center;
	text-align: center;
	
	display:table-row !important;
}

.body {
	width: 70%;
	height: 100%;
	
	background-color: rgba(0,0,0,0);
	
	margin-left: auto;
	margin-right: auto;
	display:inline-block;
}

#header.wrapper {
	background:#363636;
	
	height:12%;
	min-height: 80px;
	width:100%;
}

#header.body {
	margin: auto;
	display: table-cell;
	
	height: 64px;
	vertical-align: center;
	
	color: #FFFFFF;
}

#toolbar.wrapper {
	background: #bda9c5;
	
	height: 4%;
	max-height: 4%;
	width: 100%;
}

#toolbar.body {
	height:100%;
}

#toolbar.body .button {
	display:inline-block;
	float:left;
	width: 25%;
	min-width: 96px;
	height:100%;
	line-height: 100%;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	
	color: white;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	
	box-sizing: border-box;
	
	border: none;
	border-radius:0;
	
	cursor:pointer;
	
	background-color: rgba(0,0,0,0);
	
	transition:0.15s all;
	-webkit-transition:0.15s all;
	-moz-transition:0.15s all;
	-o-transition:0.15s all;
	-ms-transition:0.15s all;
}

#toolbar.body .button:hover, .button:focus, .button:active {
	background:	#7050a0;
	
	transition:0.15s all;
	-webkit-transition:0.15s all;
	-moz-transition:0.15s all;
	-o-transition:0.15s all;
	-ms-transition:0.15s all;
}

#toolbar.body .button-active {
	display:inline-block;
	
	line-height: 100%;
	
	float:left;
	width: 25%;
	min-width: 96px;
	height:100%;
	
	color: white;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	
	box-sizing: border-box;
	
	border: none;
	border-radius:0;
	
	cursor:pointer;
	
	background-color: #7050a0;
	
	transition:0.15s all;
	-webkit-transition:0.15s all;
	-moz-transition:0.15s all;
	-o-transition:0.15s all;
	-ms-transition:0.15s all;
}


#toolbar.body .button-active:hover, .button-active:focus, .button-active:active {
	background:	#7050a0;
	
	transition:0.15s all;
	-webkit-transition:0.15s all;
	-moz-transition:0.15s all;
	-o-transition:0.15s all;
	-ms-transition:0.15s all;
}

#page.wrapper {
	background: #f5f3f2;
	height: 75%;
	width: 100%;
}

#page.body {
	text-align: left;
	overflow: auto;
}

#page.body p{
	text-align: left;
	width: 80%;
	margin-left:0;
}

#footer.wrapper {
	background: #bda9c5;
	display:table-cell;
	
	height: 80px;
	width: 100%;
}

#footer.body {
	height: 64px;
	width: 768px;
	
	background: rgba(0, 0, 0, 0);
}

#footer.body a {

	background: rgba(0, 0, 0, 0);
	height: 64px;
	width: 256px;
	float:left;
	
	opacity: 0.5;
	
	box-sizing: border-box;
	
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   
   transition: background .1s ease-in-out;
   -moz-transition: background .1s ease-in-out;
   -webkit-transition: background .1s ease-in-out;
}

#footer.body a:hover {
	opacity: 1;
	
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   
   transition: background .1s ease-in-out;
   -moz-transition: background .1s ease-in-out;
   -webkit-transition: background .1s ease-in-out;
}

#footer.body a#twitter {
	background: url(../images/twitter.png) no-repeat 0 0;
	
	background-size: 80%;
	background-position:center;
}

#footer.body a#twitter:hover {
	background: url(../images/twitter_h.png) no-repeat 64 0;
	
	background-size: 81%;
	background-position: center top;
	
}

#footer.body a#github {
	background: url(../images/github.png) no-repeat 0 0;
	
	background-size: 80%;
	background-position:center;
}

#footer.body a#github:hover {
	background: url(../images/github_h.png) no-repeat 64 0;
	
	background-size: 81%;
	background-position: center top;
	
}


#footer.body a#linkedin {
	background: url(../images/linkedin.png) no-repeat 0 0;
	
	background-size: 80%;
	background-position:center;
}

#footer.body a#linkedin:hover {
	background: url(../images/linkedin_h.png) no-repeat 64 0;
	
	background-size: 81%;
	background-position: center top;
	
}