.hostSettings#ffzSettings
    h2 FrankerFaceZ Emotes
    p.line
        input(type='checkbox' id='ffzGlobalCheckbox')
        | Enable Global FrankerFaceZ Emotes
    p.line
        input(type='checkbox' id='ffzChannelsCheckbox')
        | Enable FrankerFaceZ Channel Emotes
    p.line
        table
            tbody.list
                tr
                    td.name Jonny Stromberg
                    td.born 1986
                tr
                    td.name Jonas Arnklint
                    td.born 1985
                tr
                    td.name Martina Elm
                    td.born 1986
                tr
                    td.name Gustaf Lindqvist
                    td.born 1983