.optionsPanel.general
    h1 General Settings
    .optionsBody
        p.line
            input(type='checkbox' id='twitchStyleTooltipsCheckbox')
            |Twitch-style Emote Tooltips
        p.line
            input(type='checkbox' id='hitboxKappasCheckbox')
            |Replace Hitbox.tv's Kappa with GreyFace
            img.kappa(src='images/kappa.png')

    input.saveSettingsButton(type='button', value='Save Settings')