.panel#aboutPanel
    h1
        a(href='https://ostrichtools.com/p/GlobalTwitchEmotes' target='_blank') Global Twitch Emotes
    strong(style='padding-left: 2.0em')
        div By&nbsp;
        a(href='http://melalawi.github.io/', target='_blank') Mo Alawi

    .optionsBody
        p.line Just a fun little thing I've made. I truly hope you enjoy it.
            img.kappa(src='/assets/images/bloodtrail.png')
        p.line Source code can be found&nbsp;
            a(href='https://github.com/melalawi/GlobalTwitchEmotes', target='_blank') here.

        h3 Special thanks:
        p.condensed
            a(href='http://twitchemotes.com' target='_blank') TwitchEmotes.com
            | .
        p.condensed
            a(href='http://www.frankerfacez.com' target='_blank') FrankerFaceZ
            | &nbsp;By Dan Salvato & SirStendec.
        p.condensed
            a(href='https://www.nightdev.com/betterttv/' target='_blank') Better Twitch.tv
            | &nbsp;By Night.
        p.condensed
            a(href='http://www.fontalicious.com/' target='_blank') Fontalicious
            | &nbsp;for the Dimitri font.
        hr
        p.blurb
            | Got a question? Check out the&nbsp;
            a(href='https://ostrichtools.com/p/GlobalTwitchEmotes#FAQ' target='_blank') FAQ
            | . Answer not there? You're more than welcome to message me with any other inquiries, concerns, or even just to say hello:

        .contactContainer
            a(target='_blank' href='https://twitter.com/m_elalawi') Twitter
            a(target='_blank' href='mailto:itsmoalawi@gmail.com') Email
            a(target='_blank' href='https://www.paypal.me/ostrichemu/5') Support Me