.panel#aboutPanel
    h1 Global Twitch Emotes
    strong
        div By&nbsp;
        a(href='http://melalawi.github.io/', target='_blank') Mohamed El-Alawi

    .optionsBody
        p.line Just a fun little thing I've made. I truly hope you enjoy it.
            img.kappa(src='/assets/images/bloodtrail.png')
        p.line Source code can be found&nbsp;
            a(href='https://github.com/melalawi/GlobalTwitchEmotes', target='_blank') here
            | .

        h3 Special thanks:
        p.condensed
            a(href="http://twitchemotes.com" target="_blank") TwitchEmotes
        p.condensed
            a(href="http://www.frankerfacez.com" target="_blank") FrankerFaceZ
            | &nbsp;By Dan Salvato & SirStendec
        p.condensed
            a(href="https://www.nightdev.com/betterttv/" target="_blank") Better Twitch.tv
            | &nbsp;By Night
        p.condensed
            a(href="http://www.fontalicious.com/" target="_blank") Fontalicious
            | &nbsp;for the Dimitri font
        p.condensed
            | P0lip on irc.mozilla.org. The Firefox version of GTE would not have been possible without his help.
        hr
        p.line Feel free to message me with questions, concerns, or anything else:

        .contactContainer
            a(href='https://twitter.com/m_elalawi') Twitter
            a(href='mailto:mohamed.y.elalawi@gmail.com') Email
            a(href='https://twitch.streamlabs.com/melalawi') Support Me