.panel#aboutPanel
    h1
        a(href='https://ostrichtools.com/p/GlobalTwitchEmotes' target='_blank' title='Version 1.4.0') Global Twitch Emotes
    strong(style='padding-left: 2.0em')
        div By&nbsp;
        a(href='https://itsmo.me/', target='_blank') Mo Alawi

    .optionsBody
        p.line Just a fun little thing I've made. I truly hope you enjoy it.
            img.kappa(src='/assets/images/bloodtrail.png')
        p.line Source code can be found&nbsp;
            a(href='https://github.com/melalawi/GlobalTwitchEmotes', target='_blank') here.

        h3 Special thanks:
        p.condensed
            a(href='http://twitchemotes.com' target='_blank') TwitchEmotes.com
            | .
        p.condensed
            a(href='http://www.frankerfacez.com' target='_blank') FrankerFaceZ
            | &nbsp;By Dan Salvato & SirStendec.
        p.condensed
            a(href='https://www.nightdev.com/betterttv/' target='_blank') Better Twitch.tv
            | &nbsp;By Night.
        p.condensed
            a(href='https://7tv.app/' target='_blank') 7TV
            | &nbsp;By Kathy.
            
        hr
        p.blurb
            | Got a question? Check out the&nbsp;
            a(href='https://ostrichtools.com/p/GlobalTwitchEmotes#FAQ' target='_blank') FAQ
            | . Answer not there? You're more than welcome to message me with any other inquiries, concerns, or even just to say hello:

        .contactContainer
            a(target='_blank' href='https://instagram.com/africanostrich') Instagram
            a(target='_blank' href='mailto:mo@itsmo.me') Email
            a(target='_blank' href='https://www.buymeacoffee.com/YymbzOe') Support Me