.subpanel#bttvSubpanel
    strong
        div BetterTTV Emotes
        .tooltipTrigger(data-tooltip-html='#BetterTTVEmotesTooltipHTML') ?

    label.line
        input(type='checkbox' id='bttvGlobalCheckbox')
        | Enable Global BetterTTV Emotes
        img.kappa(src='/assets/images/LUL.png')
    label.inline
        input(type='checkbox' id='bttvChannelsCheckbox')
        | Enable BetterTTV Channel Emotes
    .tooltipTrigger(data-tooltip-html='#bttvChannelsCheckboxTooltipHTML') ?

    table#bttvChannelsList

    #BetterTTVEmotesTooltipHTML.tooltipHTML Allows Global Twitch Emotes to render emotes managed by&nbsp;
        a(href='https://manage.betterttv.net/', target='_blank') BetterTTV
    #bttvChannelsCheckboxTooltipHTML.tooltipHTML Enables Global Twitch Emotes to fetch and render BetterTTV emotes associated with the channels in the table below.
        br
        | For example, to enable&nbsp;
        img.kappa(src='/assets/images/(ditto).gif')
        | &nbsp; add the channel 'NightDev' to the table below.