.panel#generalPanel
    h1 General Settings

    .optionsBody
        label.inline
            input(type='checkbox' id='twitchStyleTooltipsCheckbox')
            | Twitch-style Emote Tooltips
        .tooltipTrigger(data-tooltip-html='#twitchStyleTooltipsCheckboxTooltipHTML') ?
        br
        label.inline
            input(type='checkbox' id='replaceYouTubeKappaCheckbox')
            | Replace YouTube Live Kappa Emoji
        .tooltipTrigger(data-tooltip-html='#replaceYouTubeKappaCheckboxTooltipHTML') ?
        br
        label.inline
            input(type='checkbox' id='iframeInjectionCheckbox')
            | Enable Experimental Iframe Support (e.g. YouTube Live Chat)
        .tooltipTrigger(data-tooltip-html='#iframeInjectionCheckboxTooltipHTML') ?

        strong
            div Import/Export Settings
            .tooltipTrigger(data-tooltip-html='#importExportTooltipHTML') ?

        input.fileBrowser#importBrowser(type='file', accept='text/*')

        #importExport
            .importExportContainer#export
                .importExportIcon
                input#exportButton(type='button', value='Export Settings', alt='Export Settings to File', title='Export Settings to File')
            .importExportContainer#import
                .importExportIcon
                input#importButton(type='button', value='Import Settings', alt='Import Settings from File', title='Import Settings from File')
                #importStatus
                    div.statusIcon
                    div.statusText

        strong
            div Cached Emote Sets
            .tooltipTrigger(data-tooltip-html='#emoteHostStatusTooltipHTML') ?

        #loadedEmotesTable
            #setNameColumn
            #setAgeColumn

    input.saveSettingsButton(type='button', value='Save Settings')

    #importExportTooltipHTML.tooltipHTML You can backup your Global Twitch Emotes settings to a text file and restore them anytime by using the UI below.
    #twitchStyleTooltipsCheckboxTooltipHTML.tooltipHTML
        .imageContainer
            img(src='/assets/images/tooltipExample.png')
        | Enables Twitch-style tooltips on emotes when hovered over.
    #replaceYouTubeKappaCheckboxTooltipHTML.tooltipHTML Replaces&nbsp;
        img.kappa(src='/assets/images/Kapper.png')
        | &nbsp;with&nbsp;
        img.kappa(src='/assets/images/Kappa.png')
        | &nbsp;in YouTube's Live Chat.

    #iframeInjectionCheckboxTooltipHTML.tooltipHTML Enables experimental script injection into any and all iframes found in pages. Be warned that this is a performance-heavy feature.
    #emoteHostStatusTooltipHTML.tooltipHTML These are the emotes that are currently stored on your computer. Caches will auto-refresh every 72 hours.