.panel#generalPanel
    h1 General Settings

    .optionsBody
        label.inline
            input(type='checkbox' id='twitchStyleTooltipsCheckbox')
            | Twitch-style Emote Tooltips
        .tooltipTrigger(data-tooltip-html='#twitchStyleTooltipsCheckboxTooltipHTML') ?

        strong
            div Import/Export Settings
            .tooltipTrigger(data-tooltip-html='#importExportTooltipHTML') ?

        input.fileBrowser#importBrowser(type='file', accept='text/*')

        #importExport
            .importExportContainer#export
                .importExportIcon
                input#exportButton(type='button', value='Export Settings', alt='Export Settings to File', title='Export Settings to File')
            .importExportContainer#import
                .importExportIcon
                input#importButton(type='button', value='Import Settings', alt='Import Settings from File', title='Import Settings from File')
                #importStatus
                    div.statusIcon
                    div.statusText

        strong
            div Emote Endpoint Statuses
            .tooltipTrigger(data-tooltip-html='#emoteHostStatusTooltipHTML') ?

        #hostStatusTable
            #hostNameColumn
            #hostStatusColumn

    input.saveSettingsButton(type='button', value='Save Settings')

    #importExportTooltipHTML.tooltipHTML You can backup your Global Twitch Emotes settings to a text file and restore them anytime by using the UI below.
    #twitchStyleTooltipsCheckboxTooltipHTML.tooltipHTML
        .imageContainer
            img(src='/assets/images/tooltipExample.png')
        | Enables Twitch-style tooltips on emotes when hovered over.
    #emoteHostStatusTooltipHTML.tooltipHTML Current status of the various endpoints Global Twitch Emotes calls. Refresh this page to update this table.