.subpanel#twitchSubpanel
    h2 Twitch.tv Emotes

    label.line
        input(type='checkbox' id='twitchGlobalCheckbox')
        | Enable Global Twitch.tv Emotes
        img.kappa(src='/assets/images/Kappa.png')
    label.line
        input(type='checkbox' id='twitchChannelsCheckbox')
        | Enable Subscriber Channels Emotes
    label.line
        input(type='checkbox' id='twitchSmiliesCheckbox')
        | Enable Twitch.tv Smilies
    p.line
        | Smilies Type:
    label.line.floatLeft
        input(type='radio', value='Robot', name='smiliesType')
        | Robot
        img.kappa(src='/assets/images/robot.png')
    label.line
        input(type='radio', value='Turbo', name='smiliesType')
        | Turbo
        img.kappa(src='/assets/images/turbo.png')
    label.line
        input(type='checkbox' id='useMonkeySmiliesCheckbox')
        | Include Monkey Smilies
        img.kappa(src='/assets/images/monkey.png')