.subpanel#twitchSubpanel
    h2 Twitch.tv Emotes

    label.line
        input(type='checkbox' id='twitchGlobalCheckbox')
        | Enable Global Twitch.tv Emotes
        img.kappa(src='/assets/images/Kappa.png')
    label.inline
        input(type='checkbox' id='twitchChannelsCheckbox')
        | Enable Subscriber Channels Emotes
    .tooltipTrigger(data-tooltip-html='#twitchChannelsCheckboxTooltipHTML') ?

    table#twitchChannelsList

    #twitchChannelsCheckboxTooltipHTML.tooltipHTML Since version 1.3.0, you must specify which Twitch sub emotes you want to see rendered on pages you visit. Enter the channel names below.